h1 {
	font-style: italic;
	color: rgb(136, 9, 34);
}
h2 {
	font-style: italic;
	color: rgb(136, 9, 34);
}

body {
	background-color: rgb(212, 176, 85);
}

p {
	font-style: italic;
	font-size: larger;
	color: rgb(136, 9, 34);
}
